<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a {% if app.request.pathinfo == "/index" %} class="nav-link active"{% else %} class="nav-link" {% endif %} aria-current="page" href="./index">Accueil</a>
        <a class="nav-link" href="#">Features</a>
        <a {% if app.request.pathinfo == "/profil" %} class="nav-link active"{% else %} class="nav-link" {% endif %} href="./profil">Profil</a>
        {% if user is defined %}
        <a class="nav-link position-absolute top-2 end-0" href="./profil">{{ user.email }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>